<section class="comentarios">
  <h1>Escute quem compra da gente</h1>
  <p>Depoimento de clientes Mary's Moda Intima</p>
  <div class="container-comentarios">
      <div class="box-comentario">
          <div class="imagem-comentario"></div>
          <h3><span> “</span>A Mary foi um marco na minha fase de empreender no segmento de moda íntima. De
              venda
              porta a porta, hoje tenho minha loja própria.”</h3>
          <p>Thaiana Menezes, Brasília - DF</p>
      </div>
      <div class="box-comentario">
          <div class="imagem-comentario"></div>
          <h3><span> “</span>Fiquei muito satisfeita com a compra pela facilidade no site, prazo cumprido e
              principalmente pela qualidade das peças compradas.”</h3>
          <p>Solange Aparecida, Manaus - AM</p>
      </div>
      <div class="box-comentario">
          <div class="imagem-comentario"></div>
          <h3><span> “</span>Nunca tinha comprado nessa loja, mas gostei muito e recomendo! Ah, e as balinhas
              de brinde são uma delícia!”</h3>
          <p>Karem Moreira, São Paulo - SP</p>
      </div>

  </div>
</section>
