<section class="produtos">
  <h1>Alguns de nossos produtos</h1>
  <p>Conheça um pouco mais sobre algumas de nossas linhas. Temos certeza que uma delas será o diferencial para
      você.
  </p>
  <div class="container-itens">
      <div class="box-item">
          <div class="imagem"></div>
          <h3>Compressão</h3>
          <p>Peças de média e alta compressão para garantir curvas e redução de medidas.</p>
      </div>
      <div class="box-item">
          <div class="imagem"></div>
          <h3>Básico</h3>
          <p>Peças para o dia a dia com design simples mas o conforto e qualidade que só a Vi tem</p>
      </div>
      <div class="box-item">
          <div class="imagem"></div>
          <h3>Maternity</h3>
          <p>Peças feitas em algodão para o maior conforto da mãe e o bebê durante e após a gravidez.</p>
      </div>
      <div class="box-item">
          <div class="imagem"></div>
          <h3>Noite</h3>
          <p>Peças que garantem beleza e conforto para o momento de dormir como camisolas e shortdolls</p>
      </div>
      <div class="box-item">
          <div class="imagem"></div>
          <h3>Pós Cirúrgica</h3>
          <p>Peças ideias para o uso pós intervenções, auxiliando em sua recuperação .</p>
      </div>
      <div class="box-item">
          <div class="imagem"></div>
          <h3>Renda</h3>
          <p>Qualidade e sustentação para todos os corpos, traz a beleza da renda.</p>
      </div>
  </div>
</section>
